/*Start frameWork And Global Ruled*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #543864;
  color: #ececec;
}

.toUpperCase {
  text-transform: uppercase;
}

/*End frameWork And Global Ruled*/
/*Start of NavBar header Section*/
.navbar {
  background: #222831;
  color: #ffbd69;
  cursor: pointer;
}

.navbar .brandName {
  font-family: "Caveat", cursive;
  font-size: 30px;
}

.navbar .login {
  padding: 3px 20px;
  border: 1px solid;
  border-radius: 20px;
  margin-right: 20px;
}

.navbar .login:hover {
  background: #ffbd69;
  color: #543864;
}

.navbar .fa-canadian-maple-leaf {
  color: #cf2a1d;
  font-size: 30px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  margin-right: 10px;
}

/*End of NavBar header Section*/
/*Start LandingPage Section*/
.landingPage {
  padding: 133px 0;
  font-family: "Caveat", cursive;
  color: #ffbd69;
  font-size: 50px;
  background: url("/Images/LandingPage.jpg") center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.landingPage button {
  background-color: transparent;
  border: none;
  border: 1px solid #ffbd69;
  color: #ffbd69;
  font-size: 30px;
  border-radius: 20px;
  padding: 0 20px;
}

.landingPage button:hover {
  background: #ffbd69;
  color: #543864;
}

/*End LandingPage Section*/
/*Start MainTitle Section*/
.mainTitle {
  margin-bottom: 20px;
  display: none;
}

.mainTitle .hiddenTextArea,
.mainTitle .hiddenTextCity,
.mainTitle .hiddenTextCountry,
.mainTitle button {
  display: none;
  margin: 10px 0;
  border-radius: 10px;
}

.mainTitle button {
  padding: 10px 20px;
  border: none;
  border: 1px solid #ffbd69;
  background-color: transparent;
  color: #ececec;
  margin-left: 45%;
}

.mainTitle button:hover {
  border: 1px solid #ececec;
  color: #ffbd69;
}

.mainTitle h6 {
  color: #ffbd69;
  margin: 20px 0;
  cursor: pointer;
}

.mainTitle .line {
  height: 2px;
  background-color: #ffbd69;
  margin-top: 15px;
}

.mainTitle .col-1 {
  color: #ffbd69;
  font-size: 15px;
  padding-left: 0;
}

.mainTitle .col-1 span {
  background-color: #ffbd69;
  color: #ececec;
  padding: 5px 12px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.mainTitle .col-1 span.payment {
  background: #ececec;
  color: #ffbd69;
}

.mainTitle .col-1 div.payment {
  position: absolute;
  right: 10px;
}

/*End MainTitle Section*/
/*Start Details Section*/
.details .card {
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  display: none;
  padding: 10px;
  background-color: #222831;
  border-radius: 10px;
  margin-bottom: 60px;
  margin-left: 15px;
  margin-right: 15px;
}

.details .card:first-of-type {
  position: abolute;
  left: -1000px;
}

.details .card:nth-of-type(2) {
  position: abolute;
  right: -1000px;
}

.details .card .packageIncluded {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #ffbd69;
}

.details .card .packageIncluded div {
  padding: 10px 0;
}

.details .card .packageIncluded div svg {
  color: #ffbd69;
  border-radius: 50%;
}

.details .card .pickTime {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #ffbd69;
}

.details .card .pickTime svg {
  position: absolute;
  top: 5px;
  right: 5px;
}

.details .card .pickTime .pickupBox,
.details .card .pickTime .dropOffBox {
  margin-top: 10px;
  cursor: pointer;
  border: 2px solid #ffbd69;
  border-radius: 10px;
}

.details .card .pickTime .pickupBox span,
.details .card .pickTime .dropOffBox span {
  color: #ffbd69;
  font-size: 15px;
}

.details .card .pickTime .pickupBox .pickUpDate,
.details .card .pickTime .pickupBox .dropOffDate,
.details .card .pickTime .dropOffBox .pickUpDate,
.details .card .pickTime .dropOffBox .dropOffDate {
  font-weight: 600;
}

.details .card .pickTime .pickupBox .pickUpTime,
.details .card .pickTime .pickupBox .dropOffTime,
.details .card .pickTime .dropOffBox .pickUpTime,
.details .card .pickTime .dropOffBox .dropOffTime {
  font-weight: lighter;
  color: #c9c5c5;
}

.details .card .pickTime input[type="date"],
.details .card .pickTime input[type="time"] {
  display: none;
  width: 100%;
  margin-bottom: 5px;
  margin-left: 0;
}

.details .card .instructions {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #ffbd69;
}

.details .card .instructions textarea {
  width: 100%;
  height: 100px;
  resize: none;
  background-color: #ececec;
}

.details .card .instructions button {
  background: transparent;
  border: none;
  border-radius: 10px;
  border: 1px solid #ffbd69;
  color: #ececec;
  padding: 5px 20px;
  margin-top: 30px;
}

.details .card .instructions button:hover {
  border: 1px solid #ececec;
  color: #ffbd69;
}

.details .summary {
  padding: 10px;
}

.details .summary h6,
.details .summary .h6 {
  color: #ffbd69;
}

.details .summary > div {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #ffbd69;
}

.details .summary > div:first-of-type span:nth-of-type(2) {
  font-size: 15px;
  font-weight: lighter;
}

.details .summary > div:nth-of-type(2) span {
  font-size: 15px;
  font-weight: lighter;
}

.details .summary > div:nth-of-type(3) div {
  font-size: 15px;
  font-weight: lighter;
}

.details .summary > div:nth-of-type(4) span:nth-of-type(2) {
  font-size: 15px;
  font-weight: lighter;
  color: #ffbd69;
}

.details .summary > div:nth-of-type(4) p {
  font-size: 15px;
  font-weight: lighter;
}

/*End Details Section*/
/*Start Footer Section*/
footer {
  padding: 20px 0;
  background-color: #222831;
  margin-bottom: 0;
}

footer .ourServices {
  margin-bottom: 20px;
}

footer ul {
  margin: auto;
}

footer ul.list-unstyled:first-of-type li,
footer ul.list-unstyled:nth-of-type(2) li {
  margin-left: 10px;
  font-size: 12px;
  cursor: pointer;
  float: left;
}

footer ul.list-unstyled:nth-of-type(2) li:last-of-type,
footer ul.list-unstyled:nth-of-type(2) li:nth-of-type(4) {
  color: #ffbd69;
}

/*End Footer Section*/
/*# sourceMappingURL=Styles.css.map */