/*Start frameWork And Global Ruled*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #543864;
  color: #ececec;
  font-family: "Libre Caslon Display", serif;
}

.toUpperCase {
  text-transform: uppercase;
}

/*End frameWork And Global Ruled*/
/*Start of NavBar header Section*/
.navbarr {
  background: #222831;
  color: #ffbd69;
  cursor: pointer;
}

.navbarr .brandName {
  font-family: "Sofia", cursive;
  font-size: 30px;
  margin: 10px 0;
}

.navbarr .signup,
.navbarr .login {
  margin: 10px 10px;
  color: #ffbd69;
  border: 1px solid #ffbd69;
  border-radius: 20px;
  padding: 0 10px;
  display: none;
}

.navbarr .signup:hover,
.navbarr .login:hover {
  background: #ffbd69;
  color: #543864;
}

/*End of NavBar header Section*/
/*Start of flying pages*/
.signupPage,
.loginPage,
.locationPage,
.pickupPage,
.dropoffPage {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  width: 100%;
  height: inherit;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999999999;
  display: none;
}

.signupPage div.container form,
.loginPage div.container form,
.locationPage div.container form,
.pickupPage div.container form,
.dropoffPage div.container form {
  margin: 25vh auto;
  padding: 10px;
  border: 2px solid #ffbd69;
  border-radius: 20%;
}

.signupPage div.container form svg,
.loginPage div.container form svg,
.locationPage div.container form svg,
.pickupPage div.container form svg,
.dropoffPage div.container form svg {
  position: relative;
  right: 25px;
  top: -77px;
  cursor: pointer;
}

.signupPage div.container form img,
.loginPage div.container form img,
.locationPage div.container form img,
.pickupPage div.container form img,
.dropoffPage div.container form img {
  border-radius: 50%;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

.signupPage div.container form input,
.signupPage div.container form button,
.loginPage div.container form input,
.loginPage div.container form button,
.locationPage div.container form input,
.locationPage div.container form button,
.pickupPage div.container form input,
.pickupPage div.container form button,
.dropoffPage div.container form input,
.dropoffPage div.container form button {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.signupPage div.container form input::-webkit-input-placeholder,
.loginPage div.container form input::-webkit-input-placeholder,
.locationPage div.container form input::-webkit-input-placeholder,
.pickupPage div.container form input::-webkit-input-placeholder,
.dropoffPage div.container form input::-webkit-input-placeholder {
  text-align: center;
}

.signupPage div.container form input:-ms-input-placeholder,
.loginPage div.container form input:-ms-input-placeholder,
.locationPage div.container form input:-ms-input-placeholder,
.pickupPage div.container form input:-ms-input-placeholder,
.dropoffPage div.container form input:-ms-input-placeholder {
  text-align: center;
}

.signupPage div.container form input::-ms-input-placeholder,
.loginPage div.container form input::-ms-input-placeholder,
.locationPage div.container form input::-ms-input-placeholder,
.pickupPage div.container form input::-ms-input-placeholder,
.dropoffPage div.container form input::-ms-input-placeholder {
  text-align: center;
}

.signupPage div.container form input::placeholder,
.loginPage div.container form input::placeholder,
.locationPage div.container form input::placeholder,
.pickupPage div.container form input::placeholder,
.dropoffPage div.container form input::placeholder {
  text-align: center;
}

.signupPage div.container form button,
.loginPage div.container form button,
.locationPage div.container form button,
.pickupPage div.container form button,
.dropoffPage div.container form button {
  background-color: transparent;
  border: none;
  border: 1px solid #ffbd69;
  color: #ffbd69;
  padding: 0 20px;
}

.signupPage div.container form button:hover,
.loginPage div.container form button:hover,
.locationPage div.container form button:hover,
.pickupPage div.container form button:hover,
.dropoffPage div.container form button:hover {
  background: #ffbd69;
  color: #543864;
}

/*End of flying pages*/
.landingPage {
  padding: 136px 0;
  color: #ffbd69;
  font-size: 50px;
  background: url("/Images/landingPage.jpg") center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.landingPage button {
  background-color: transparent;
  border: none;
  border: 1px solid #ffbd69;
  color: #ffbd69;
  font-size: 30px;
  border-radius: 20px;
  padding: 0 20px;
}

.landingPage button:hover {
  background: #ffbd69;
  color: #543864;
}

/*End LandingPage Section*/
/*Start MainTitle Section*/
.mainTitle {
  margin-bottom: 20px;
  display: none;
}

.mainTitle .hiddenTextArea,
.mainTitle .hiddenTextCity,
.mainTitle .hiddenTextCountry,
.mainTitle button {
  display: none;
  margin: 10px 0;
  border-radius: 10px;
}

.mainTitle button {
  padding: 10px 20px;
  border: none;
  border: 1px solid #ffbd69;
  background-color: transparent;
  color: #ececec;
  margin-left: 45%;
}

.mainTitle button:hover {
  border: 1px solid #ececec;
  color: #ffbd69;
}

.mainTitle h6 {
  color: #ffbd69;
  margin: 20px 0;
  cursor: pointer;
}

.mainTitle .line {
  height: 2px;
  background-color: #ffbd69;
  margin-top: 15px;
}

.mainTitle .step {
  color: #ffbd69;
  background-color: #ffbd69;
  color: #ececec;
  padding: 5px 12px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.mainTitle .step2 {
  color: #ffbd69;
  background-color: #ececec;
}

/*End MainTitle Section*/
/*Start Details Section*/
.details .card {
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  display: none;
  padding: 10px;
  background-color: #222831;
  border-radius: 10px;
  margin-bottom: 60px;
  margin-left: 15px;
  margin-right: 15px;
}

.details .card .packageIncluded {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #ffbd69;
}

.details .card .packageIncluded div {
  padding: 10px 0;
}

.details .card .packageIncluded div svg {
  color: #ffbd69;
  border-radius: 50%;
}

.details .card .pickTime {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #ffbd69;
}

.details .card .pickTime svg {
  position: absolute;
  top: 5px;
  right: 5px;
}

.details .card .pickTime .pickupBox,
.details .card .pickTime .dropOffBox {
  margin-top: 10px;
  cursor: pointer;
  border: 2px solid #ffbd69;
  border-radius: 10px;
}

.details .card .pickTime .pickupBox span,
.details .card .pickTime .dropOffBox span {
  color: #ffbd69;
  font-size: 15px;
}

.details .card .pickTime .pickupBox .pickUpDate,
.details .card .pickTime .pickupBox .dropOffDate,
.details .card .pickTime .dropOffBox .pickUpDate,
.details .card .pickTime .dropOffBox .dropOffDate {
  font-weight: 600;
}

.details .card .pickTime .pickupBox .pickUpTime,
.details .card .pickTime .pickupBox .dropOffTime,
.details .card .pickTime .dropOffBox .pickUpTime,
.details .card .pickTime .dropOffBox .dropOffTime {
  font-weight: lighter;
  color: #c9c5c5;
}

.details .card .pickTime input[type="date"],
.details .card .pickTime input[type="time"] {
  display: none;
  width: 100%;
  margin-bottom: 5px;
  margin-left: 0;
}

.details .card .instructions {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #ffbd69;
}

.details .card .instructions textarea {
  width: 100%;
  height: 100px;
  resize: none;
  background-color: #ececec;
}

.details .card .instructions button {
  background: transparent;
  border: none;
  border-radius: 10px;
  border: 1px solid #ffbd69;
  color: #ececec;
  padding: 5px 20px;
  margin-top: 30px;
}

.details .card .instructions button:hover {
  border: 1px solid #ececec;
  color: #ffbd69;
}

.details .summary {
  padding: 10px;
}

.details .summary h6,
.details .summary .h6 {
  color: #ffbd69;
}

.details .summary > div {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #ffbd69;
}

.details .summary > div:first-of-type span:nth-of-type(2) {
  font-size: 15px;
  font-weight: lighter;
}

.details .summary > div:nth-of-type(2) span {
  font-size: 15px;
  font-weight: lighter;
}

.details .summary > div:nth-of-type(3) div {
  font-size: 15px;
  font-weight: lighter;
}

.details .summary > div:nth-of-type(4) span:nth-of-type(2) {
  font-size: 15px;
  font-weight: lighter;
  color: #ffbd69;
}

.details .summary > div:nth-of-type(4) p {
  font-size: 15px;
  font-weight: lighter;
}

/*End Details Section*/
/*Start Footer Section*/
footer {
  padding: 20px 0;
  background-color: #222831;
  margin-bottom: 0;
}

footer .ourServices {
  margin-bottom: 20px;
}

footer ul {
  margin: auto;
}

footer ul.list-unstyled:first-of-type li,
footer ul.list-unstyled:nth-of-type(2) li {
  margin-left: 10px;
  font-size: 12px;
  cursor: pointer;
  float: left;
}

footer ul.list-unstyled:nth-of-type(2) li:last-of-type,
footer ul.list-unstyled:nth-of-type(2) li:nth-of-type(4) {
  color: #ffbd69;
}

/*End Footer Section*/
/*# sourceMappingURL=Styles.css.map */